.carousel-inner {
    padding-bottom: 70px;
}

.audiobutton {
    margin-left: 10px;
}

#map {
    height: 300px;
    width: 100%;
}

#bottombar {
    background-color: #fff;
}

.tab-content, .tab-pane {
    height: 100%;
}

.tab-pane > img {
    max-width: 100%;
    height: 50%;
}

#title {
    font-size: 1.5rem;
}

#content {
    height: 87%;
}


.virtual-guide {
    width: 100%;
    height: 315px;
}

.video-guide {
    width: 100%;
    height: 185px;
}

@media only screen and (min-width: 768px) {
    #title {
        font-size: 2.2rem;
        margin: 1% 0 1% 0;
    }

    #content {
        height: 90%;
    }

    .virtual-guide {
        height: 630px;
    }

    .video-guide {
        height: 400px;
    }
}

.nav-item {
    width: 23%;
}

.intro {
    font-size: 1.3rem;
}

.serv-title {
    font-size: 1.3rem;
}

.serv-desc {
    font-size: 1.2rem;
}

.serv-text {
    font-size: 1.1rem;
}

.blue-background {
    background: linear-gradient(to bottom, #8FE3FF 0%,#15a9fa 100%);
}

.icon.icon-green {
    color: lawngreen;
}

.icon.icon-brightpink {
    color: #ff2acc;
}