.carousel-inner {
    padding-bottom: 70px;
}

.audiobutton {
    margin-left: 10px;
}

#map {
    height: 220px;
    width: 100%;
}

#bottombar {
    background-color: #fff;
}

.tab-content, .tab-pane {
    height: 100%;
}

.tab-pane > img {
    max-width: 100%;
    height: 50%;
}

#title {
    font-size: 1.5rem;
}

#content {
    height: 87%;
}

@media only screen and (min-width: 768px) {
    #title {
        font-size: 2.2rem;
        margin: 1% 0 1% 0;
    }

    #content {
        height: 90%;
    }
}

.nav-item {
    width: 23%;
}
