.carousel {
    background: black;
}

.img-ipad {
    display: none;
}

.video-gal {
    width: 75%;
    height: 736px;
    margin: auto;
}

@media only screen and (min-width: 768px) {
    .img-phone {
        display: none;
    }

    .img-ipad {
        display: block;
    }

    .video-gal {
        height: 1024px;
    }
}