.carousel {
    background: black;
}

.video-gal{
    width: 75%;
    height: 100%;
    bottom: 60px;
}

#galVideo{
    height: calc(100% - 90px)!important;
    width: 70%!important;
}

#carouselGaleria{
    width: 100%;
    height: calc(100% - 60px);
}

.imgGalery{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-color:rgb(0, 0, 0);
    width: 100%;
    height: calc(100% - 90px);
}

div img.w-100{
    width: 100%;
    height: calc(100% - 60px);
}

