.carousel {
    background: black;
}

#galeria_ts {
    height: 100%;
}

#carouselGaleria {
    width: 100%;
    height: calc(100% - 90px);
}

.gal-item {
    height: 100%;
}

.gal-item-video {
    height: 100%;
    width: 100%;
    display: flex!important;
    justify-content: center;
    align-items: center;
}

.imgGalery {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
}

#galVideo {
    transform: rotate(90deg);

    width: 100vh;
    height: 75vw; /*calc(100% - 90px) !important;*/

    /*width: 70%!important;*/
}




/*div img.w-100{
    width: 100%;
    height: calc(100% - 60px);
}*/