.card-img-overlay>h1 {
    display: flex;
    justify-content: center;
    
}

img[class ~= "card-img"] {
    filter: blur(0.5px);
}

.fondo_trasparente{
    background-color: #0000005c;
    width: 100%;
    height: 100%;
    position: absolute;
}
.flotante {
    top: 5%;
    position: absolute;
    left: 85%;
    z-index: 1;
    color: #def9ff;
}
.speak-icon{
    font-size: 1.5rem;
}