/*Ipad*/

@media (max-width: 1025px) {
    .circle-img {
        width: 60%
    }
    #Horarios ul li {
        font-size: 18pt;
    }
    h4.disciplina_ts {
        font-size: 3rem;
    }
    #descripcion {
        font-size: 1.5rem;
        /*color: rgb(255, 0, 0);*/
    }
    .card-title {
        font-size: 4.5rem;
        ;
    }
    .card-img-overlay {
        margin: 20%;
    }
    .confirmacion {
        font-size: 1.2rem!important;
    }
    .swichtab-controller>li>a {
        font-size: 1.5rem;
    }
    select.form-control {
        margin-bottom: 5%;
    }
    div.form-group>label {
        font-size: 1.5rem;
    }
    input.form-control {
        margin-bottom: 5%;
    }
    h1#encabezado-info-s1 {
        font-size: 5rem;
    }
    p#texto-info-s1{
        font-size: 2rem;
    }
    h3#tour_header{
        font-size: 3rem;
    }
    h3#encabezado-info-s2{
        font-size: 4rem;
        line-height: 4.5rem;
    }
    p.description{
        font-size: 1.7rem;
    }
    strong{
        font-size: 1.6rem;
    }
    i.material-icons{
        font-size: 3rem;
    }
    h4.info-title {
        font-size: 3rem;
    }
    p.serv-text{
        font-size: 1.4rem;
    }
}

@media (max-height: 1366px) {
    .confirmacion {
        font-size: 1.5rem!important;
        height: 70%;
    }
    .caract {
        margin-top: 0.7rem!important;
        height: 27%;
    }
}

@media (max-height: 823px) {
    .confirmacion {
        font-size: 1rem!important;
        height: 70%;
    }
    .caract {
        margin-top: 0.7rem!important;
        height: 27%;
    }
}

@media (max-height: 736px) {
    .confirmacion {
        font-size: 1rem!important;
        height: 60%;
    }
}

@media (max-height: 736px) {
    .confirmacion {
        font-size: .9rem!important;
        height: 65%;
    }
    .caract {
        margin-top: 0.7rem!important;
        height: 25%;
    }
}

@media (max-height: 667px) {
    .confirmacion {
        font-size: .9rem!important;
        height: 70%;
    }
    .caract {
        margin-top: 2.7rem;
    }
    h4 {
        font-size: 1rem;
    }
    div.form-group {
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .2rem;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    div.confirmacion {
        font-size: 0.8rem;
        height: 63%;
    }
}

@media (max-height: 600px) {
    .confirmacion {
        font-size: .7rem!important;
        height: 55%;
    }
    div.form-group {
        padding: .25rem .5rem;
        font-size: .875rem!important;
        line-height: 1.5;
        border-radius: .2rem;
        margin-top: 0px;
        margin-bottom: 2%;
    }
    div.confirmacion {
        height: 60%;
    }
}

@media (max-width: 720px) {
    .circle-img {
        width: 50%
    }
    #Horarios ul li {
        font-size: 14pt;
    }
    #descripcion {
        font-size: 14pt;
        /*color: rgb(0, 255, 0);*/
    }
    .card-title {
        font-size: 2.5rem;
        ;
    }
    .card-img-overlay {
        margin: 15%;
    }
    .confirmacion {
        font-size: .8rem;
    }
}

@media (max-width: 640px) {
    .circle-img {
        width: 40%
    }
    #Horarios ul li {
        font-size: 12pt;
    }
    #descripcion {
        font-size: 1rem;
        /*color: rgb(0, 0, 255);*/
    }
    
    .swichtab-controller>li>a {
        font-size: 1rem;
    }
    select.form-control {
        margin-bottom: 5%;
    }
    div.form-group>label {
        font-size: .8rem;
    }
    input.form-control {
        margin-bottom: 0%;
    }
}

@media(max-width: 470px) {
    #btnConfirmacion {
        width: 100px;
    }
}

@media (max-width: 412px) {
    .circle-img {
        width: 30%
    }
    #Horarios ul li {
        font-size: 12pt;
    }
    #descripcion {
        font-size: .78rem;
        /*color: rgb(238, 255, 0);*/
    }
    #head_inscripcion {
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }
    h1#encabezado-info-s1 {
        font-size: 2.5rem;
    }
    p#texto-info-s1{
        font-size: 1rem;
    }
    h3#tour_header{
        font-size: 1.5rem;
    }
    h3#encabezado-info-s2{
        font-size: 1.85rem;
        line-height: 2rem;
    }
    p.description{
        font-size: .9rem;
    }
    strong{
        font-size: 1rem;
    }
    i.material-icons{
        font-size: 1.5rem;
    }
    h4.info-title {
        font-size: 1.5rem;
    }
    p.serv-text{
        font-size: 1rem;
    }
    #btnBackF1, #btnNextF1, #btnBackF2, #btnNextF2, #btnBackF3, #btnConfirmacion {
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .2rem;
    }
    .swichtab-controller>li>a {
        font-size: 1rem;
    }
    select.form-control {
        margin-bottom: 5%;
    }
    div.form-group>label {
        font-size: .9rem;
    }
    input.form-control {
        margin-bottom: 0%;
    }
}